.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
}

.vantagens h2{
  margin-bottom: 60px;
}

.vantagens ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content)); /* repeat evita de termos que criar várias media queries para o responsivo, respeita a coluna e mantém itens alinhados. autofit: tenta colocar o valor que der, pelo tamanho da tela. colunas tenham no mínimo 280px e o máximo é o máximo do conteúdo que ela pode ter  */
  gap: 40px 80px; /* 40px para baixo e 80px pro lado */
}

.vantagens h3, .vantagens img {
  margin-bottom: 8px;
}

@media (max-width:800px) {
  .vantagens {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantagens h2 {
    margin-bottom: 40px;
  }
  .vantagens ul {
    gap: 20px;
  }
}